body {
  background-color: rgb(232, 233, 225);
  color: black;
  padding: 20px 0px;
  position: relative;
}

.App {
  text-align: center;
  filter: blur(3);
  position: relative;
}

.App h1 {
  position: absolute;
    top: 0;
    font-size: 2.9em;
    font-family: "Playfair Display";
    font-weight: bold;
    width: 100%;
}


.profile img{
  position: relative;
  width: 232px;
  height: 232px;
  border-radius: 100%;
  margin-bottom: 15px;
  margin-top: 45px;
  filter: contrast(0.8);
}

.blur {

  filter: blur(5px);
  transition: 3s;
}